body{
    background-color: rgb(255, 255, 255);
}

/* Index html */

.linkbelow{
    margin: 50px;
    padding: 25px;
}

#button1{
    background-color: orangered;
}

#button2{
    background-color: khaki;
}

#button3{
    background-color: whitesmoke;
}

.space{
    font-size: 32px;
    font-style: bold;
    border-radius: 10px;
}